<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGraph -->
      <package
            uri="http://es.um.uschema.code.metamodels/codeGraph"
            class="es.um.uschema.code.metamodels.codeGraph.CodeGraphPackage"
            genModel="model/codeGraph.genmodel"/>
   </extension>

</plugin>
